  <div class="hero-body  p-b-30 " style="background: url('/img/easy.jpg'); background-size: cover; background-position: top;">
    <div class="container">
      <h2 class="subtitle">
        <span class="has-text-centered is-block thin-italic" style="color: #eee; text-shadow: 0 0 5px black; font-weight: bold;">
          <!-- Get access to exclusive leads in any zip code. -->
          All your server logs in one place
        </span>
      </h2>
      <h1 class="title">
        <span class="is-size-2 has-text-centered is-block" style="color: #eee;text-shadow: 0 0 9px black; ">
        Easy to Read, Searchable<br>Server Logs
          <!-- Real Estate Seller's Agents Leads -->
        </span>
      </h1>
      <div class="columns is-centered">
          <div class="control">
            <!-- <a href="/users/auth/google_oauth2">
              <img style="max-height: 3em" src="/img/btn_google_signin_dark_normal_web@2x.png">
            </a> -->
        </div>
      </div>
      <div class="has-text-centered">
        <!-- <img class="m-t-50" src="/img/property_image.png" alt="Find rentals"> -->
      </div>
    </div>
  </div>

</section>


<section class="hero">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-7">
          <div class="columns">
            <div class="column has-text-centered">
              <img class="m-t-50" src="/img/aggregated.svg" style="height: 180px;" alt="All logs in one place">
            </div>
            <div class="column">
              <h1 style="color: black !important;" class="title m-t-60 semi-bold">All Logs in One Place</h1>
              <h2 class="subtitle subtitle-small regular">If you have multiple servers AwkLog will help you see all your logs in one place. We aggregate your logs so you don't have to access each server individually to see its logs.</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-7">
          <div class="columns">
            <div class="column">
              <h1 style="color: black !important;" class="title m-t-60">Searchable Logs</h1>
              <h2 class="subtitle subtitle-small">Using powerful search operators you can search your logs using our log search feature. Instantly search gigabytes of logs.</h2>
            </div>
            <div class="column has-text-centered">
              <img class="m-t-50" src="/img/search.svg" style="height: 140px;" alt="Update frequently">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="hero">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-7">
          <div class="columns">
            <div class="column has-text-centered">
              <img class="m-t-50" src="/img/notification.svg" style="height: 130px;" alt="For sale marketplaces">
            </div>
            <div class="column">
              <h1 style="color: black !important;" class="title m-t-60 semi-bold">Automated Notifications</h1>
              <h2 class="subtitle subtitle-small regular">Worried you web server may be throwing 500 errors or a 404 page not found? Now you can setup automated alerts vi email or text message the moment we detect an error in your logs.</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="hero is-medium is-dark">
  <div class="hero-body p-b-30">
    <div class="container">
      <div class="has-text-centered">
        <h1 style="color: white !important;" class="title">Join Today</h1>

        <p class="m-t-30">
          <!-- <a href="/users/auth/google_oauth2">
            <img style="max-height: 3em" src="/img/btn_google_signin_dark_normal_web@2x.png">
          </a> -->
          <a href="/start" class="button is-medium is-shadowy is-default">
            Sign up
          </a>
        </p>
      </div>
    </div>
  </div>

  <p class="m-t-30 b-t"></p>
</section>

